@import "../../scss/variables.scss";
.c-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        margin: 0;
        padding: 0px;
    }
}
.c-section-header-left {
    align-items: flex-start;
}