
//color pallete
$main-dark-brown: #42210b;
$main-golden-yellow: #d09a44;
$main-golden-shadow: #BF6D1B;

$main-light-gray: #cec9c9;
$main-black: #333333;
$main-white: #ffffff;
$main-green-success: #0c9467;
$bg-floral-white: #fcf9f2;
$main-svg-default: #ccc;
$main-input-default: #ccc;
$main-disable-color: #534741;

//font spec

$primary-font: "Acumin Pro ExtraCondensed";
$secondary-font: yesysk;
$third-font: "Roboto";
$sans-serif: sans-serif;

$font-size-extreme-large: 45px;
$font-size-very-large: 36.5px;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-very-small: 8px;
